<div class="content">
  <span *ngIf="readyBoolean; else startButton">
    <h3
      class="word-game"
      *ngIf="gameType === 'word-game'"
      style="display: flex"
    >
      <span *ngFor="let letter of word.split(''); let i = index">
        <span
          [ngClass]="{
            correct: letter === type[i],
            incorrect: letter !== type[i] && type[i]
          }"
          >{{ letter }}</span
        >
      </span>
    </h3>
    <!--  -->
    <span *ngIf="textGameEnded === false; else startButton">
      <h3
        class="text-game"
        *ngIf="gameType === 'text-game' && textGameEnded === false"
      >
        <span *ngFor="let letter of word.split(''); let i = index">
          <span
            [ngClass]="{
              correct: letter === type[i],
              incorrect: letter !== type[i] && type[i]
            }"
            >{{ letter }}</span
          ></span
        >
      </h3>
    </span>
    <!--  -->
  </span>

  <ng-template #startButton>
    <button (click)="startGame()">{{ startText }}</button>
  </ng-template>
  <input
    (keyup)="verifyWords()"
    [(ngModel)]="type"
    type="text"
    placeholder="Type as fast as you can"
    #wordsInput
  />
  <span class="text-for-word-game">
    <h3 *ngIf="readyBoolean && gameType === 'word-game'">
      Score: {{ score }} | Time: {{ time }} seconds
    </h3>
    <h4 *ngIf="time === 60 && gameType === 'word-game'">
      You wrote {{ score }} words in {{ time }} seconds
    </h4>
  </span>
  <h3 *ngIf="!textGameEnded && gameType === 'text-game'">
    Time: {{ time }} seconds
  </h3>
  <h4 *ngIf="textGameEnded && gameType === 'text-game' && time > 0">
    You wrote the text in {{ time }} seconds
  </h4>
</div>
