.content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3.text-game {
    margin-bottom: 2rem;
    color: rgb(46, 46, 46);
    font-weight: 400;
    text-align: justify;
    font-size: 1.8rem;
  }
  h3.word-game {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(46, 46, 46);
    font-weight: 400;
  }
  input {
    width: 30%;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    transition: 0.3s all;
    &:focus {
      box-shadow: 3px 3px 3px 3px rgba(46, 46, 46, 0.1);
    }
  }
  button {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: sandybrown;
    background: white;
    border: 2px solid sandybrown;
    border-radius: 10px;
    padding: 0rem 2rem;
    transition: 0.3s all;
    outline: none;
    cursor: pointer;
    &:hover {
      background: sandybrown;
      color: white;
    }
  }
  h3 {
    margin-top: 2rem;
    text-align: center;
  }
  h4 {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
  }
}
.correct {
  color: rgb(41, 170, 41) !important;
}
.incorrect {
  color: red !important;
}
