<div class="navbar" [ngClass]="{ dark: darkThemeEnabled }">
  <h2
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    MTWord
  </h2>
  <div class="menu">
    <h3
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Homepage
    </h3>
    <h3
      routerLink="/scores"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Scores
    </h3>
    <h3>
      <i
        class="far"
        [ngClass]="{
          'fa-moon': !darkThemeEnabled,
          'fa-sun': darkThemeEnabled
        }"
        (click)="darkThemeEnabled = !darkThemeEnabled"
      ></i>
    </h3>
  </div>
</div>
<div class="container" [ngClass]="{ dark: darkThemeEnabled }">
  <router-outlet></router-outlet>
</div>
